/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.page-content {
    margin-top: 56px;
}

.custom-form-container {
    padding: 10px;
    background: #FAFAFA;
    border: 1px solid #E0E0E0;
}

.showbeer-noimage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    text-align: center;
    color: #777;
}

.showbeer-description {
  overflow-y: auto;
  height: 180px;
  margin-top: 10px;
}

.showbeer-container img {
    position:absolute;
    max-height:100%;
    display:block;
    max-width:100%;
    padding-right: 10px;
}

.btn-add-drinker {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.create-drinker-form {
    background: #FAFAFA;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 15px;
}

.matches-container {
    overflow-y: scroll;
    max-height: 250px;
    padding-bottom: 20px;
}

.alert-message-container {
    text-align: center;
    padding: 20px 10px;
    width: 100%;
}

.add-beer-container {
    margin: 20px 0;
}

.participant-subtitle {
    font-size: 24px;
}

.image-fit-parent {
    max-width: 100%;
    max-height: 100%;
}
