@import './_colors.scss';

Great Vibes.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden !important;
  background-size: cover !important;
  background-position: center center !important; }

.banner-video {
  z-index: -1;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.banner-inner {
  z-index: 1;
  color: $white; }

.banner-inner h1 {
  font-family: "Great Vibes";
  font-size: 6em;
  margin-bottom: 0; }

.banner-inner p {
  font-size: 1.5em; }

.banner-inner button {
  margin-top: 0.5em;
  font-size: 1.5em; }
