@import "./_colors.scss";

/************/
/* HOMEPAGE */
/************/

.side-image {
  background: $white;
  text-align: justify; }

@media screen and (min-width: 900px) {
  .side-image {
    display: table;
    width: 100%;
    table-layout: fixed; } }

.side-image .images-wrapper {
  background-color: $white;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 3em;
  height: 200px; }

@media screen and (min-width: 900px) {
  .side-image .images-wrapper {
    display: table-cell;
    width: 33.33333%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    border-right: 0; } }

.side-image .side-image-content {
  display: table-cell;
  width: 100%;
  padding: 4em 1em; }

@media screen and (min-width: 900px) {
  .side-image .side-image-content {
    display: table-cell;
    width: 66.66667%;
    padding: 8em 4em; } }

.side-image .side-image-content h2 {
  margin-bottom: 0.9em;
  font-size: 2em;
  text-transform: capitalize; }

.side-image .side-image-content p {
  color: $dark;
  line-height: 1.5; }

.content {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 5em 0;
  text-align: center;
}
.content::after {
  clear: both;
  content: "";
  display: table;
}
.content > h1 {
  color: $black;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 3em;
  margin: 0 0 0;
  padding: 20px 30px;
  text-transform: uppercase;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  display: inline-block;
}

.no-beer-message {
  margin-top: 50px;
}

/*************/
/* DASHBOARD */
/*************/

.showbeer-noimage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    text-align: center;
    color: #777;
}

.showbeer-description {
  overflow-y: auto;
  height: 180px;
  margin-top: 10px;
}

.showbeer-container img {
    position:absolute;
    max-height:100%;
    display:block;
    max-width:100%;
    padding-right: 10px;
}
