@import "./_colors.scss";

.footer {
    position: relative;
    background: $dark;
    padding: 1em;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.footer__list__item {
    list-style: none;
    padding-right: 1em;
    display: inline;
    text-align: left;
    margin-right: 0.5em;
}

.footer__list__item--right {
    position: absolute;
    right: 20px;
    padding-top: 12px;
}

.footer__list__item__link {
    color: rgba($white, 0.4);
    text-decoration: none;
    font-size: 2em;
}

.footer__list__item--right__button {
    color: rgba($white, 0.4);
    text-decoration: none;
}

.footer__list__item__link:focus,
.footer__list__item__link:hover,
.footer__list__item--right__button:focus,
.footer__list__item--right__button:hover {
    color: $white;
}
