@import "./_colors.scss";

$social-size: 1.5em;
$link-size: 1.2em;
$icon-width: 20%;
$link-width: 30%;
$footer-height: 100px;

footer {
  background-color: #eee;
  width: 100%;
  display: inline-block;
  height: $footer-height;
  .social {
    border-top: 5px solid #222;
    margin-top: 10px;
    width: 100%;
    a {
      @media (max-width: 600px) {
        width: 100%;
      }
      float: left;
      line-height: $footer-height;
      text-decoration: none;
      color: white;
      text-align: center;
      font-weight: bold;
      background-color: #222;
    }
  }
}

.admin:hover {background-color: $green;}
.admin {color: $green !important;}

.facebook:hover {background-color: $facebook;}
.facebook {color: $facebook !important;}

.maillist:hover {background-color: $green;}
.maillist {color: $green !important;}

.support:hover {background-color: $dk-blue;}
.support {color: $dk-blue !important;}

.support, .facebook {
  font-size: $social-size;
  width: $icon-width;
}

.maillist, .admin {
  font-size: $link-size;
  width: $link-width;
  font-weight: 0.8em;
}

.maillist, .admin, .support, .facebook {
  transition: all .2s;
}
.maillist:hover, .admin:hover, .support:hover, .facebook:hover {
  color: white !important;
}
