@charset "UTF-8";

@import "./_colors.scss";

@import "./banner.scss";
@import "./sidebar.scss";
@import "./dashboard.scss";
@import "./toast.scss";
@import "./beer.scss";
@import "./footer.scss";
@import "./old-events.scss";

*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    color: $dark;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1em;
    line-height: 1.5;
    overflow-x: hidden;
}

@font-face {
    font-family: "Great Vibes";
    src: url("../fonts/GreatVibes-Regular.otf") format("opentype"); }
@font-face {
    font-family: "Open Sans Condensed";
    src: url("../fonts/OpenSans-CondLight.ttf") format("truetype"); }
