@import './_colors.scss';

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  color: $dark;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  overflow-x: hidden; }

@font-face {
  font-family: "Great Vibes";
  src: url("../fonts/GreatVibes-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSans-CondLight.ttf") format("truetype"); }

.footer {
  position: relative;
  background: #333;
  padding: 1em;
  width: 100%;
  display: inline-block;
  text-align: center; }

.footer ul li {
  list-style: none;
  padding-right: 1em;
  display: inline;
  text-align: left;
  margin-right: 0.5em; }

.footer ul li a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  font-size: 2em; }

.footer ul li a:focus,
.footer ul li a:hover,
.footer .dashboard-link a:focus,
.footer .dashboard-link button:hover {
  color: #fff; }

.footer .dashboard-link button {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none; }

.footer li.dashboard-link {
  position: absolute;
  right: 20px;
  padding-top: 12px; }

.content {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 5em 0;
  text-align: center; }

.content::after {
  clear: both;
  content: "";
  display: table; }

.content > h1 {
  color: #111;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 3em;
  margin: 0 0 0;
  padding: 20px 30px;
  text-transform: uppercase;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  display: inline-block; }

.no-beer-message {
  margin-top: 50px; }

.show-old-events-container {
  padding: 70px 0;
  background-color: #eee; }

.old-events-table {
  margin-top: 2em; }

.old-events-table td {
  padding: 1.5em 1em !important; }

.old-event-jumbotron {
  margin-bottom: 0 !important; }

.old-event-header hr {
  margin-top: 0 !important; }

.old-event-header {
  background: #333;
  color: #fff;
  padding: 10px 0; }

.old-event-header .container {
  position: relative; }

.old-event-header .btn {
  position: absolute;
  right: 0;
  top: 0; }

.old-event-beers {
  margin-top: 2em; }

.old-event-description {
  margin-top: 40px;
  margin-bottom: 40px; }
